

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 28px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .usuario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }